#header {
	font-size: 45px;
	text-align: center;
	margin-top: 30px;
	margin-left: 150px;
	margin-bottom: 0px;
	
}

#Descrip {
	font-size: 15px;
}

#headshot {
	margin-top: -32px;
	margin-right: 150px;
	border-radius: 50%;
}

.jumbotron {
    padding: 10px;
}

#NavLinks {
	margin-top: 0px;
	font-size: 20px;	
}

.navbar-nav li {
	margin-left: 225px;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	font-size: 20px;
}

 
.active, .accordion:hover {
    background-color: #ccc;
}


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
